@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"] {
        -webkit-appearance: none;
        appearance: textfield;
        margin: 0;
    }
}

@layer utilities {
    .debug-red {
        border: 2px solid red;
    }

    .debug-green {
        border: 2px solid green;
    }

    .debug-blue {
        border: 2px solid blue;
    }

    .debug-orange {
        border: 2px solid orange;
    }

    .debug-purple {
        border: 2px solid purple;
    }

    .debug-violet {
        border: 2px solid violet;
    }

    .debug-yellow {
        border: 2px solid yellow;
    }
}
